<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <style>
            .container {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Kuiyeko Golveda</h1>
            <br />
            <a href="/google/login"><button>Continue with google</button></a>
            <a href="/facebook/login">
                <button>Continue with facebook</button>
            </a>
        </div>
    </body>
</html>
