<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile</title>
        <style>
            .container {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <a href="/google/logout"><button>Logout</button></a>
            <h1>Your Kuiyeko Golveda Profile</h1>
            <h2><%= user.username %></h2>
            <br />
        </div>
    </body>
</html>
